{% extends 'blog/base.html' %}

{% block content %}

    <!--Content-->

    <div class="content" id="ajax-content">

        <div class="text-intro">

            {% if form.errors %}
                <p>error</p>
            {% endif %}

            {% if next %}
                <p>success</p>
            {% endif %}

            <form method="post" action="{% url 'login' %}">

                {% csrf_token %}
                <p>identifiant : {{ form.username}} </p>
                <p> Mot de passe : {{ form.password}} </p>
                
                <p><input type="submit" value="connexion"></p>
                <input type="hidden" name="next" value="{{ next }}">

            </form>
        </div>
    </div>

{% endblock %}
